<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about-us" routerLinkActive="active">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="blogs" routerLinkActive="active">Blogs</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" routerLink="services" routerLinkActive="active">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact-us" routerLinkActive="active">Contact US</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="crud" routerLinkActive="active">Crud Operation</a>
        </li>   
        <li class="nav-item">
          <a class="nav-link" routerLink="task14" routerLinkActive="active">Task 14</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="task15" routerLinkActive="active">Task 15</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" routerLink="task15-arrayofobj" routerLinkActive="active">Task 15 Array of obj</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" routerLink="localstorage" routerLinkActive="active">Local Storage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="reverse-crud" routerLinkActive="active">Reverse Crud</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="chaild" routerLinkActive="active">Chaild</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="parents" routerLinkActive="active">Parents</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="dependancyinjection" routerLinkActive="active">Dependancy Injection</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
