    <div class="container">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="certificate" >
              <div class="certificate-header">Blood Donation Certificate</div>
              <div class="certificate-info">
                <p>Blood Donation Camp</p>
                <p>Medimaze Solutions Private Limited</p>
                <p>Serial No: </p>
                <p>We are extremely thankful to,  resident of ,for his/her
                  valuable cooperation of the Blood Donation.</p>
                <p>Blood Donation Date: <b>18-09-2023</b></p>
                <p>Blood Group: </p>
                <p>Authorized Signature:.........................</p>
              </div>
            </div>
       
        </div>
        <div class="col-md-2"></div>
      </div>
  <div class="row">
    <div class="col-lg-10"></div>
    <div class="col-lg-2">
      <div style="width: 100px; text-align: center;">
        <button class="butn-custom-dark-blue " type="button">Print</button>
      </div>
    </div>
  </div>
</div>